<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Formulario de retroalimentación</title>
    </head>
    <body>
        <div id="notificationBox" hidden>
            <h2 id="notificationMsg">.</h2>
            <ul id="notificationList"></ul>
        </div>
        <div id="questionnaireContainer">
            <form name="mainForm" action="">
                <p>¿Siente satisfecho/a/e con la(s) clase(s) de _____ que tuvo en la semana? (Obligatorio): </p>
                <!-- <form> -->
                <input type="radio" id="calification1" name="classCalification" value="1" required>
                <label for="calification1">1</label><br>
                <input type="radio" id="calification2" name="classCalification" value="2">
                <label for="calification2">2</label><br>
                <input type="radio" id="calification3" name="classCalification" value="3">
                <label for="calification3">3</label><br>
                <input type="radio" id="calification4" name="classCalification" value="4">
                <label for="calification4">4</label><br>
                <input type="radio" id="calification5" name="classCalification" value="5">
                <label for="calification5">5</label><br>
                <input type="radio" id="calification6" name="classCalification" value="6">
                <label for="calification6">6</label><br>
                <input type="radio" id="calification7" name="classCalification" value="7">
                <label for="calification7">7</label><br><br><br>
            <!-- </form><br><br> -->
                <label for="calificationReason">La razón de la respuesta anterior es (Opcional): </label><br>
                <textarea id="calificationReason" name="calificationReason" rows="4" cols="50"></textarea><br><br>
                <p>¿Cómo evalúa el desempeño de su profesor/a durante la(s) clase(s) de la semana? (Obligatorio): </p>
                <!-- <form> -->
                <input type="radio" id="professorCalification1" name="professorCalification" value="Excelente" onclick="hideReasonInput()" required>
                <label for="professorCalification1">Excelente</label><br>
                <input type="radio" id="professorCalification2" name="professorCalification" value="Aceptable" onclick="hideReasonInput()">
                <label for="professorCalification2">Aceptable</label><br>
                <input type="radio" id="professorCalification3" name="professorCalification" value="Deficiente" onclick="unhideReasonInput()">
                <label for="professorCalification3">Deficiente</label><br>
                <input type="radio" id="professorCalification4" name="professorCalification" value="Insoportable" onclick="unhideReasonInput()">
                <label for="professorCalification4">Insoportable</label><br><br><br>
                <!-- </form><br><br> -->
                <div id="professorCalificationReason" hidden>
                    <label for="professorCalReason">La razón de la respuesta anterior es (Obligatorio):</label>
                    <textarea id="professorCalReason" name="professorCalReason" rows="4" cols="50" required></textarea><br><br>
                </div>
                
                <label for="necessityFeedback">¿Qué materia de la semana desea que su profesor/a le dé más enfoque o que suba algún material complementario? (Opcional): </label><br>
                <textarea id="necessityFeedback" name="necessityFeedback" rows="4" cols="50"></textarea><br><br>
                
                <div id="sender"></div>
                <button id="sendQuestionnaireButton" type="button">Enviar su retroalimentación</button>
            </form>
        </div>
        <script src="../static/formValidation.js"></script>
    </body>
</html>