{% extends 'navbar.html' %}
    {% block title %} Formulario de Retroalimentación {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href= "../static/feedback_app/css/form.css">
    {% endblock %}
    {% block content %}


    <div id="mainContainer" class="container-sm mt-4">
        <h1>Formulario de Retroalimentación  de {{ usernameTeacher }} </h1>
        <div id="notificationBox" hidden>
            <h2 id="notificationMsg">.</h2>
            <ul id="notificationList"></ul>
        </div>
        <div id="questionnaireContainer">
            <form name="mainForm" action="">               
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3">
                            <br>
                            <p class="form-label">¿Se siente satisfecho/a/e con la(s) clase(s) de {{ usernameTeacher }} que tuvo en la semana? (Obligatorio): </p>
                            <!-- <form> -->
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification1" name="classCalification" value="1" class="form-check-input" required>
                                <label for="calification1" class="form-label form-check-label">1</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification2" name="classCalification" value="2" class="form-check-input">
                                <label for="calification2" class="form-label form-check-label">2</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification3" name="classCalification" value="3" class="form-check-input">
                                <label for="calification3" class="form-label form-check-label">3</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification4" name="classCalification" value="4" class="form-check-input">
                                <label for="calification4" class="form-label form-check-label">4</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification5" name="classCalification" value="5" class="form-check-input">
                                <label for="calification5" class="form-label form-check-label">5</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification6" name="classCalification" value="6" class="form-check-input">
                                <label for="calification6" class="form-label form-check-label">6</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="calification7" name="classCalification" value="7" class="form-check-input">
                                <label for="calification7" class="form-label form-check-label">7</label><br>
                            </div>
                            <br>
                        </div>                
                        <!-- </form><br><br> -->
                        <div class="mb-3">
                            <label for="calificationReason" class="form-label">La razón de la respuesta anterior es... (Opcional): </label><br>
                            <textarea id="calificationReason" name="calificationReason" rows="4" cols="50" class="form-text"></textarea><br><br>
                        </div>
                    </div>

                    <br>
                    <div class="col-md-4">    
                        <div class="card mb-3" id="resumen" style="max-width: 18rem;" hidden>
                            <div class="card-header" id="resumenHeader">Resumen</div>
                            <div class="card-body">
                                <h5 class="card-title" id="resumenTitle">Semana 1</h5>
                                <p class="card-text" id="resumenContent">Clase introductoria, hablamos sobre lo que se verá en el curso y las evaluaciones a tener.</p>
                            </div>
                        </div>
                    </div>     
                </div>

                <div class="mb-3">   
                        <p class="form-label">¿Cómo evalúa el desempeño de su profesor/a durante la(s) clase(s) de la semana? (Obligatorio): </p>
                        <!-- <form> -->
                    <div class="form-check form-check-inline">       
                        <input type="radio" id="professorCalification1" name="professorCalification" value="Excelente" class="form-check-input" onclick="hideReasonInput()" required>
                        <label for="professorCalification1" class="form-label form-check-label">Excelente</label><br>
                    </div>    
                    <div class="form-check form-check-inline">     
                        <input type="radio" id="professorCalification2" name="professorCalification" value="Aceptable" class="form-check-input" onclick="hideReasonInput()">
                        <label for="professorCalification2" class="form-label form-check-label">Aceptable</label><br>
                    </div>    
                    <div class="form-check form-check-inline">     
                        <input type="radio" id="professorCalification3" name="professorCalification" value="Deficiente" class="form-check-input" onclick="unhideReasonInput()">
                        <label for="professorCalification3" class="form-label form-check-label">Deficiente</label><br>
                    </div>    
                    <div class="form-check form-check-inline">     
                        <input type="radio" id="professorCalification4" name="professorCalification" value="Insoportable" class="form-check-input" onclick="unhideReasonInput()">
                        <label for="professorCalification4" class="form-label form-check-label">Insoportable</label><br>
                    </div> 
                    <!-- </form><br><br> -->
                    <div id="professorCalificationReason" hidden>
                        <label for="professorCalReason" class="form-label">La razón de la respuesta anterior es (Obligatorio):</label><br>
                        <textarea id="professorCalReason" name="professorCalReason" rows="4" cols="50" class="form-text" required></textarea><br><br>
                    </div>                    
                </div>
                <div class="mb-3">
                    <label for="necessityFeedback" class="form-label">¿Qué materia de la semana desea que su profesor/a le dé más enfoque o que suba algún material complementario? (Opcional): </label><br>
                    <textarea id="necessityFeedback" name="necessityFeedback" rows="4" cols="50" class="form-text"></textarea><br>
                </div>
                <div id="sender"></div>
                <div class="d-flex justify-content-end">
                    <button id="sendQuestionnaireButton" type="button" class="btn btn-primary me-3">Enviar su retroalimentación</button>
                </div>
            </form>
        </div>
    </div>

    
    {% endblock %}
    {% block javascript %}
    <script src="../../static/feedback_app/js/formValidation.js"></script>
    {% endblock %}