<!-- De prueba-->
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>
        <div id="imageContainer"></div>
        <!-- <div id="validationBox" hidden>
            <h2 id="val-msg">.</h2>
            <ul id="val-list"></ul>
        </div> -->
        <div id="SectionLogin">
            <p>Registrarse a la plataforma</p>
            {% if messages %}
                {% for message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div id="validationBox">
                
            <form method="post" action="">
                {% csrf_token %}
                <div>
                    <label for="userName">Usuario: </label><br>
                    <input type="text" id="userName" name="userName" minlength="3" maxlength="80" required><br>
                    <label for="userPassword">Contraseña: </label><br>
                    <input type="text" id="userPassword" name="userPassword" minlength="3" maxlength="40" required><br>
                </div>
                <div id="formContainer"></div>                
                <button id="sendInfo" type="sumbit">Ingresar</button><br>
                <input type="button" value="ayuda con la contraseña" onclick=""><br>
            </form>
        </div>
    </body>
</html>