{% extends 'base.html' %}
{% block cssNavbar %}
<link rel="stylesheet" type="text/css" href= "/static/feedback_app/css/navbar.css">
{% endblock %}
{% block nabvar %}
<ul class="nav nav-tabs">
    <!-- Botón de Homepage -->
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="{% url 'home-page' %}">
        <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Homepage Icon">
        Homepage
      </a>
    </li>

    <li class="nav-item dropdown">
      <a 
        class="nav-link dropdown-toggle d-flex align-items-center" 
        href="#" 
        id="socialScience" 
        role="button" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/6747/6747138.png">
        Ciencias Sociales
      </a>
      
      <ul class="dropdown-menu" aria-labelledby="principalsClasses">
        {% for subject in navbar.socialSubjectList %}
        <li><a class="dropdown-item d-flex align-items-center" href="/foro/{{subject.teacherId}}/{{subject.subjectId}}">
          <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/7416/7416864.png">
          {{subject.subjectName}}
        </a></li>
        {% endfor %}
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a 
        class="nav-link dropdown-toggle d-flex align-items-center" 
        href="#" 
        id="exactScience" 
        role="button" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/8419/8419106.png">
        Ciencias Exactas
      </a>

      <ul class="dropdown-menu" aria-labelledby="exactScience">
        {% for subject in navbar.exactSubjectList %}
        <li><a class="dropdown-item d-flex align-items-center" href="/foro/{{subject.teacherId}}/{{subject.subjectId}}">
          <img class="nav-icon" src="https://cdn-icons-png.freepik.com/512/2503/2503374.png">
          {{subject.subjectName}}
        </a></li>
        {% endfor %}
      </ul>
    </li>
    
    <li class="nav-item dropdown">
      <a 
        class="nav-link dropdown-toggle d-flex align-items-center" 
        href="#" 
        id="complementary" 
        role="button" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/8324/8324364.png">
        Complementarios
      </a>

      <ul class="dropdown-menu" aria-labelledby="complementary">
        {% for subject in navbar.complementarySubjectList %}
        <li><a class="dropdown-item d-flex align-items-center" href="/foro/{{subject.teacherId}}/{{subject.subjectId}}">
          <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/5388/5388915.png">
          {{subject.subjectName}}
        </a></li>
        {% endfor %}
      </ul>
    </li>
  
    <li class="nav-item ms-auto">
      <a class="nav-link d-flex align-items-center" href="{% url 'logout' %}">
        <img class="nav-icon" src="https://cdn-icons-png.freepik.com/512/980/980403.png">
        Salir
      </a>
    </li>
</ul>
{% endblock %}


