<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <!---- La navbar de la pagina--> 
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link" href="#Física">Física</a>
          <a class="nav-link" href="#Biología">Biología</a>
          <a class="nav-link" href="#Matemáticas">Matemáticas</a>
          <a class="nav-link ms-auto" href="#Logout">Logout</a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <!--La lista con clases al lado -->
        <div class="col-md-3">
          <div class="class-list">
            <ul class="list-group">
              <li class="list-group-item active">Clase 1: Introducción</li>
              <li class="list-group-item">Clase 2: Suma</li>
              <li class="list-group-item">Clase 3: Resta</li>
              <li class="list-group-item">Clase 4: Multiplicación</li>
              <li class="list-group-item">Clase 5: División</li>
            </ul>
          </div>
        </div>

        <!-- Parte principal para posts del foro y el boton de feedback -->
        <div class="col-md-6">
          <!-- Feedback Button -->
          <div id="feedback-button">
            <button class="btn btn-primary">7d 3h 5m - Añadir Feedback</button>
          </div>

          <!-- Posts -->
          <div id="posts-list">
            <div class="posts-container">
              <div class="posts-author">
                <img src="https://images.emojiterra.com/google/android-12l/512px/1f408.png" width="50" alt="Gato">
                <p>Gato Anonimo</p>
              </div>
              <div class="posts-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu faucibus quam.</p>
              </div>
            </div>
            <div class="posts-container">
              <div class="posts-author">
                <img src="https://images.emojiterra.com/google/android-12l/512px/1f415.png" width="50" alt="Perro">
                <p>Perro Anonimo</p>
              </div>
              <div class="posts-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu faucibus quam.</p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
